/* End - Framework */

/* Elements */
h1, h2, h3, h4, h5, h6
{
    font-family: 'Montserrat', sans-serif
}
button
{
    font-family: inherit
}
a
{
    text-decoration: none
}
.nav,
ul
{
    list-style: none
}
/* Classes */
.container
{
    width: 80%;
    margin: auto
}
.clear
{
    clear: both
}
.hover-opacity:hover
{
    opacity: .8;
    cursor: pointer
}
.pd-y
{
    padding: 120px 0
}
.mg-b-20{margin-bottom: 20px}
.mg-b-10{margin-bottom: 10px}
.mg-b-15{margin-bottom: 15px}

/* Effect Top To Bottom */
.ttb-effect
{
    position: relative;
}
.ttb-effect:after
{
    position: absolute;
    z-index: -1;
    content: "";
    height: 0%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1C1D21;
    transition: height 0.3s;
}
.ttb-effect:hover:after
{
    height: 100%;
}

/* Effect Left To Right */
.ltr-effect
{
    position: relative;
}
.ltr-effect:after
{
    position: absolute;
    z-index: -1;
    content: "";
    width: 0%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #1C1D21;
    transition: width 0.3s;
}
.ltr-effect:hover:after
{
    width: 100%;
}
